---
interface Props {
  imageUrl: string;
  title: string;
  href: string;
}

const { imageUrl, title, href } = Astro.props as Props;
---

<a
  href={href}
  class={`bg-[#0c0e11] rounded-md flex relative justify-between md:h-40 overflow-hidden gap-4 opacity-90 hover:opacity-100 transition-all duration-500 group slide-in`}
>
  <img
    src={imageUrl}
    class="w-[50%] md:w-80 h-auto rounded-md inset-0 object-cover transition-all duration-500 group-hover:scale-110"
  />
  <div class="flex flex-col justify-center p-4 gap-2">
    <h3
      class="text-zinc-300 transition-all group-hover:text-zinc-200 text-xl font-bold"
    >
      {title}
    </h3>
  </div>
</a>
